@import "tailwindcss";

@theme {
  --color-primary: #092328;
  --color-secondary: #12544F;
  --color-accent: #2A835F;
  --color-light-accent: #8BBB92;
  --color-background-slate: #F8FAFC;
  --color-surface-white: #FFFFFF;
}

@layer base {
  body {
    background-color: #F8FAFC;
    color: #092328;
  }
}
